.remote-view-element {
    position: absolute;
    height: 100%;
    width: 100%;
}

.child-shared-div {
    position: absolute;
    width: 0px;
    height: 0px;
}

.annotation-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999999;
    pointer-events: none;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.0);
}

.spotlight-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999;
    pointer-events: none;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.0);
    display: none; //for IE10;
}

.spotlight-point
{
    position:absolute;
    height:80px;
    width:80px;
    border: 3px solid #f22;
    border-radius: 80px;
    background: #fdd;
    -webkit-animation: ripple 1s infinite;
    animation: ripple 1s infinite;
    -webkit-animation-timing-function: cubic-bezier(0,0.7,1,1);
    animation-timing-function: cubic-bezier(0,0.7,1,1);
    box-sizing: border-box;
    z-index: 9999;
}

@-webkit-keyframes ripple {
    0% {
        transform: scale(0.05);
        opacity: 1.7;
        background-color: #fdd;
        border: 3px solid #f22;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
        border: 12px solid #faa;
        background-color: #faa;
    }
}

/* Standard */
@keyframes ripple {
    0% {
        transform: scale(0.05);
        opacity: 1.7;
        background-color: #fdd;
        border: 3px solid #f22;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
        border: 12px solid #faa;
        background-color: #faa;
    }
}

.stay-on-top {
    z-index: 10;
}

.annotation-layer.active {
    pointer-events: all;
    cursor: url(../assets/pencil_cursor.png) 2 25, pointer;
}

.spotlight-layer.active {
    pointer-events: all;
    cursor: url(../assets/spotlight_cursor.png) 10 10, auto;
    display: block;
}

.interactive.active {
    cursor: pointer;
}

.non-interactive {
    pointer-events: none;
}

.shared-window {
    pointer-events: none;
}

.shared-window.active {
    pointer-events: all;
}

.drawing-layer {
    z-index: 2;
    pointer-events: none;
   opacity: 1.0;
   transition: opacity 0.25s ease-in-out;
}

.handle {
    pointer-events: all;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    z-index: 9999;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    margin-top:0;
    box-sizing: content-box;
}
.move-handle {
    top: -24px;
    left: -24px;
    cursor: move;
    background-image: url("../assets/move.svg");
}

.moveable:hover .handle:not(:hover) {
    opacity: 0.8;
}

.handle:hover {
    opacity: 1.0;
}

.close-handle {
    top: -24px;
    right: -24px;
    cursor: pointer;
    background-image: url("../assets/close.svg");
}

.zoom-in-handle {
    top: -24px;
    left: 0px;
    cursor: pointer;
    background-image: url("../assets/zoom-in.svg");
}

.zoom-out-handle {
    top: -24px;
    left: 24px;
    cursor: pointer;
    background-image: url("../assets/zoom-out.svg");
}

.resize-handle {
    bottom: -24px;
    right: -24px;
    cursor: nwse-resize;
    background-image: url("../assets/resize.svg");
}

.document-window {
    position: absolute;
}

.shared-document-view {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: gray;
    pointer-events: all;
    position: absolute;
    border: 2px solid #333333;
    box-sizing: border-box;
}

.shared-document-view .page-container {
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
}

.page-loader {
    width: 34px;
    height: 34px;
    position: relative;
    display: block;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.page-display {
    width: 100%;
    display: block;
}

.shared-document-error {
	font-family: Arial, Helvetica, sans-serif;
}

.loader-container {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 66px;
    width: 66px;
    margin: auto;
    position: absolute;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.document-frame {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.zoom-indicator {
    width: 4em;
    top: -24px;
    left: 48px;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

.input-location {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
}

.non-interactive .move-handle {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	background: none;
    background-color:rgba(0,0,0,0);
}

.scrollbar {
    position: absolute;
    opacity: 0.5;
    height:0;
    width:3%;
    min-width:20px;
    max-width:30px;
    padding-top:30px;
    background-repeat: no-repeat;
    z-index: 99999;
}

.scrollbar:hover {
    opacity: 1.0;
}

.scrollbar.top {
    top:0;
    right:0;
    background-image: url(../assets/up-arrow.png);
    background-size: contain;
    background-position: top center;
}

.scrollbar.bottom {
    bottom:0;
    right:0;
    background-image: url(../assets/down-arrow.png);
    background-size: contain;
    background-position:bottom center;
}

.scrollbar.left {
    left:0;
    bottom:0;
    background-image: url(../assets/left-arrow.png);
    background-size: contain;
    background-position:left center;
}

.scrollbar.right {
    right:0;
    bottom:0;
    background-image: url(../assets/right-arrow.png);
    background-size: contain;
    background-position:right center;
}

.range-slider {
  position: absolute;
  opacity: 0.4;
  z-index: 9998;
}

.range-slider.vertical {
  width: 20px;
  top: 2%;
  height: 96%;
  right: -23px;
  margin: 0 auto 1em;
  cursor: ns-resize;
}

.range-slider.horizontal {
  width: 96%;
  left: 2%;
  height: 20px;
  bottom: -23px;
  cursor: ew-resize;
}

.range-slider:before {
  content: "";
  display: block;
  position: absolute;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px
}

.range-slider.vertical:before {
  top: 0px;
  left: 7px;
  width: 6px;
  height: 100%;
}

.range-slider.horizontal:before {
  top: 7px;
  left: 0px;
  width: 100%;
  height: 6px;
}

.range-slider div {
  position: relative;
  z-index: 9999;
  background-color: lightgrey;
  cursor: inherit;
  border: 1px solid black;
  border-radius: 5px;
}

.range-slider.vertical div {
  display: block;
  width: inherit;
  height: 10px;
}

.range-slider.horizontal div {
  display: inline-block;
  width: 10px;
  height: inherit;
}

.zoom-window {
    height: 400px;
    width: 400px;
    top: 25%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
    z-index: 9999;
}
