
/*global */

.mb_wrapper div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.container-fluid main {height:90vh}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222222;
    background-color: #ffffff;
}

/*buttons */
.btn:focus {outline: 0;-webkit-box-shadow: none;box-shadow: none;}

.btn-success {
    color: #fff;
    background-color: #337ab7;
    border-color: #23527c;
}

.btn-success:hover {
    background-color: #23527c;
}

/* assist button */
.assist-button-brand {
    font-size: larger;
    color: white;
    text-align: center;
}

/*modals*/
.modal-dialog {
    width: 40%;
    z-index: 200;
    position: relative;
    margin: 30px auto;
}

.shortcode-modal-dialog {
    width: 20%;
    z-index: 200;
    position: relative;
    margin: 30px auto;
}

a#assist-button-help {
    position: absolute;
    right: 10px;
    top: 10px;
}

span.icon {
    display: inline-block;
}

span.code {
    font-size: xx-large;
}

a#assist-button-help span.text {
    margin-left: 0;
    margin-right: 0;
    display: block;
}


#assist-modal-help {
    display : none;
    opacity: 0;
}

#assist-modal-code {
    display : none;
    opacity: 0;
}

.modal.fade.in {
    transition: opacity 150ms;
}

.modal.background {
    z-index: 100;
    background-color: black;
    opacity: 0.5;
}
.modal-content {
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
}

.text-center {
    text-align: center;
}

.close {
    margin-top: -2px;
    padding:0;
    background:0 0;
    border: 0;
    float: right;
    font-size: 21px;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
}

.close:hover {
    opacity: 0.8;
}

.modal-header {
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.modal-title {
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143;
}

.shortcode-modal-title {
    font-size: 16px;
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    padding: 15px;
    box-sizing: border-box;
    line-height: 1.1;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

.modal-footer {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}

.btn.btn-lg {
    border-color: #23527c;
    border-radius: 6px;
    padding: 10px 16px;;font-size: 18px;
    line-height: 1.3333333;
}

.btn {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 1.42857143;
    padding: 6px 12px;
    font-size: 16px;
}

.btn.btn-default {
    background-color: #EEE;
    font-weight: 400;
    color: #333;
}

.btn.btn-default:hover {
    background-color: #CCC;
}

#help-want-to-share {
    margin-top: 15px;
}

#help-have-code {
    margin-top: 15px;
}