body {
  margin: 0px;
  padding: 0px;
}

.mb_wrapper {
  height: 75px;
  display: block;
  padding-top: 10px;
  background: white url("../img/banner.jpg") repeat-x center top !important;
}

.mb_header {
  height: 75px;
  margin-top: 0px;
  width: 960px;
  padding: 0px;
  margin-bottom: 0px;
  color: white;
  position: relative; 
}

.container_12, .container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; 
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; 
}

.container_12 .grid_12, .container_16 .grid_16 {
  width: 940px; 
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; 
}

.site-links {
  /* display: block; */
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: 203px;
  display: inline-block;
  position: relative;
  list-style: none outside none;
  top: 0px; 
}

.site-links li {
    float: left; 

color: rgb(255, 255, 255);
cursor: auto;
display: block;
float: left;
font-family: arial, helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 15px;
line-height: 15px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-right: 16px;
margin-top: 11px;
opacity: 1;
text-align: left;
text-decoration: none solid rgb(255, 255, 255);
zoom: 1;
}

.site-links li:first-child {
      /* top: 2px; */
      margin-left: 62px; 
}

.site-links li a {
      color: #fff !important;
      font-size: 11px;
      font-weight: bold;
      margin-right: 16px;
      opacity: 1;
      text-decoration: none !important; 
}

.site-links li a:hover {
        filter: alpha(opacity=50);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        opacity: .75; 
}

#brand {
  position: absolute;
  width: 90px;
  top: 19px;
  left: 0px;
  /* IE-7/8 requires this! */
  position: absolute;
  margin-left: -15px;
  margin-top: -18px; 
}

#brand a {
    padding: 0px;
    position: relative;
    display: block;
    background-position: -8px -0px;
    height: 75px;
    margin: -12px 0 0 0;
    padding: 0;
    width: 100px;
}

#headertext {
  top: 10px;
  position: relative;
  color: #f5f5f5 !important;
  font-size: 20px;
  font-weight: normal;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  /* Setting the font preference to Helvetica Neue with fallback options */
  margin: 6px 0px 0px 77px;
  margin-top: 2px \9;
  width: auto;
  text-shadow: 0px -1px 0px black;
  filter: dropshadow(color=black, offx=0, offy=-1);
  /* IE declaration */ 
}

#headertext a {
    color: #F5F5F5 !important;
    text-decoration: none; 
}

#headertext a:link {
      text-decoration: none; 
}

#headertext a:visited {
      text-decoration: none; 
}


.content {
border-collapse: collapse;
color: rgb(82, 82, 82);
background: #EEE;
display: block;
font-family: arial, helvetica, sans-serif;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 255px;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
width: 340px;
zoom: 1;
}

.content img {
	width: 64px;
	height: 64px;
	padding: 10px;
}

#title {
	width: 930px;
	height: 30px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#title h1 {
border-collapse: collapse;
color: rgb(51, 51, 51);
display: block;
font-family: arial, helvetica, sans-serif;
font-size: 22px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 30px;
}

#portlet {
	margin-left: 10px;
	width: 260px;
	height: 250px;
	display: block;
	float: left;
}

#topwide {
	width: 930px;
	height: 300px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#form-test {
    width: 930px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#survey {
    width: 930px;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, helvetica, sans-serif;
}

#essay {
    width: 40em;
    height: 7em;
}

#midwide {
	width: 930px;
	height: 300px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#assist {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 100px;
	height: 40px;
	text-align: center;
    font-size: medium;
}

#clkbox {
	margin-left: 250px;
	width: 300px;
	height: 100px;
	background-color: red;
	border: 3px solid blue;
}
#dclkbox {
	margin-left: 250px;
	width: 300px;
	height: 100px;
	background-color: green;
	border: 3px solid blue;
}

#rclkbox {
	margin-left: 250px;
	width: 300px;
	height: 100px;
	background-color: yellow;
	border: 3px solid blue;
}

#hiddenbox {
    margin-left: 250px;
    width: 300px;
    height: 100px;
    background-color: pink;
    border: 3px solid blue;
}

#dragbox {
	position: absolute;
	left: 600px;
	top: 200px;
	width: 200px;
	height: 100px;
	background-color: orange;
	border: 3px solid blue;
}

#assistlink {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-family: arial, helvetica, sans-serif;
}

#cid-gui {
    position: fixed;
    bottom: 20px;
    right: 25px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #474747;
    padding: 5px;
    background-color: #DBDBDB;
    font-family: Arial;
    text-align: center;
    color: #3F3F3F;
    font-size: 11px;
    opacity: 0.5;
}

#cid-gui:hover {
    opacity: 1.0;
}

#cid-gui button {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#zoom-button {
    background-color: #f2f2f2;
    background-image: url("../img/zoom-tool.png");
    background-size: 20px 20px;
    border-color: #999;
}

#end-support-button {
    background-color: #d43b24;
    background-image: url("../img/end-support.png");
    background-size: 20px 20px; 
    border-color: #882213;
}

.button-disabled {
    pointer-events: none;
    opacity: 0.3;
}

.modal-background {
    opacity: 0.6;
    background-color: #474747;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.support-pane {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 70%;
    background: #eee;
    padding-top: 5%;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 600px;
    min-height: 450px;
    max-width: 1300px;
    max-height: 800px;
    border: 2px solid #777;
}

.support-pane .support-button {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: larger;
    border-radius: 4px;
    margin-top: 5%;
    height: 6em;
    line-height: 1.5em;
    background-color: #ccc;
    padding: 10px;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.close-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    border-radius: 4px;
    font-size: large;
    padding: 15px;
}

.cid-display {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 150px;
    font-family: sans-serif;
    font-size: larger;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #ccc;
}

.cid-display button {
    margin-top: 2.5em;
}

